/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body.brs {
  /* Margin bottom by footer height */
  margin-bottom: 260px;
  padding-bottom: 260px;
}
main {
  margin-bottom: 100px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 260px;
  line-height: 260px; /* Vertically center the text there */
  background-color: $bga-blue;
  color: white;
}

// Responsive (medium and up)
@include media-breakpoint-up(sm) {
  main {
    margin-bottom: 160px;
  }
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* body > .container {
  padding: 0px 15px 160px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
} */
