// Variables -- DO NOT beautify or reformat this file! --

// BGA/BRS COLOUR PALETTE

// Primary -----------------

// BGA blue -----
$bga-blue:        #254f90;
$bga-blue-tint1 : #4569a0;
$bga-blue-tint2 : #b3c2d8;
$bga-blue-tint3 : #eff4fb;

// BGA yellow -----
$bga-yellow:       #e8bd4f;
$bga-yellow-tint1: #edca72;
$bga-yellow-tint2: #f3dea7;
$bga-yellow-tint3: #fcf4e3;

// Site yellow -----
$site-yellow:       #cc9000;
$site-yellow-tint1: #e5b13d;
$site-yellow-tint2: #fad482;
$site-yellow-tint3: #f5e0b1;


// Secondary ----------------
$dark-navy:         #0d1e3e;
$navy:              #18335C;




// Neutrals -----------------

// Dark Neutrals -----
$darkest-grey:    #505050;
$darker-grey:     #7d7d7d;
$dark-grey:       #a7a7a7;
$grey:            #cccccc;

// Light Neutrals -----
$light-grey:      #c7c7c7;
$lighter-grey:    #d8d8d8;
$lightest-grey:   #ebebeb;
$background-grey: #fbfbfb;



// Utility ------------------

// Green - Positive :)
$green:           #368635;
$green-tint1:     #219520;
$green-tint2:     #a6d5a6;
$green-tint3:     #ebf4e8;

// Red - Negative :(
$red:             #e22c2a;
$red-tint1:       #e75755;
$red-tint2:       #f5b5b5;
$red-tint3:       #fce9e9;

// TEXT ---------------------
$text:             #383838;
$link:             #0070E8;
$link-hover :      #0056b3;
$link-visited :    #6913c9;



